<table width=auto cellspacing=0 cellpadding=3 border=1>
  <tr>
    <td style="text-align:center;background-color:#eeeeee"><b>Сотрудник</b></td>
    <td style="text-align:center;background-color:#eeeeee"><b>Часов</b></td>
    <% if(table.length>0) for(var i in table[0].DATES) { var d = table[0].DATES[i]; %>
    <td style="text-align:center;background-color:#eeeeee">
      <table width="100%" cellspacing="0" cellpadding="2" border="0" style="border: 0 1px 0 0">
        <tr><td style="text-align:center" colspan="2"><b><%= d.DATE %><br/><%= d.DAY %></b></td></tr>
        <tr><td>Вход</td><td>Вых.</td></tr>
      </table>
    </td>
    <% } %>
  </tr><br>
  <% for(var i in table) { var r = table[i]; %>
  <tr>
    <td style="white-space: nowrap"><%= r.FIO %></td>
    <td style="text-align:center"><%= r.HOURS %></td>
    <% if(table.length>0) for(var j in table[i].DATES) { var d = table[i].DATES[j]; %>
    <td style="text-align:center;">
      <table width="100%" cellspacing="0" cellpadding="2" border="0">
        <tr>
          <td style="text-align:left;<%= (d.IN)?'color:green;':'color:silver;' %>"><%= (d.IN)?d.IN:((d.IN===false)?'00:00':'') %></td>
          <td style="text-align:right;<%= (d.OUT)?'color:red;':'color:silver;' %>"><%= (d.OUT)?d.OUT:((d.OUT===false)?'00:00':'') %></td>
        </tr>
      </table>
    </td>
    <% } %>
  </tr>    
  <% } %>  
</table>